# Hugo build artifacts
/public/
/resources/
.hugo_build.lock

# Swap and temporary files
*.swp
*.swo
*~

# OS files
.DS_Store
Thumbs.db

# Python artifacts
__pycache__/
*.pyc
.venv/
.env

# Editor configs
.vscode/
.idea/

# Node (if any js tooling is ever used)
node_modules/
npm-debug.log

# htmltest cache
.htmltest/cache

# Logs
*.log

# Keep the Hugo Book theme submodule tracked
# /themes/hugo-book/
# Ignore submodule README.md
/themes/hugo-book/README.md
